.registration-wrapper {
  color: white;
}

.registration-form {
  max-width: 650px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.registration-header {
  padding: 120px 40px;
}
