node_modules
.cache
/.parcel-cache
.DS_Store
dist
dist/index.caa67093.css.map
dist/index.caa67093.css.map
dist/index.caa67093.css
dist/index.6701a6e1.js.map
dist/index.6701a6e1.js
dist/index.1d334ea1.css.map
dist/index.1d334ea1.css
dist/index.011f33b6.css.map
dist/index.011f33b6.css
